:root {
  --thumbSize: 1em;
  --trackSize: 0.5em;
  --chartreuse: #7fff00;
  --ltChartreuse: #c5ff8c;
  --trackGray: #d3d3d3;
}

.around {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

.pbrButton {
  max-width: 5rem;
  background-color: var(--chartreuse);
  color: var(--charcoal);
  border: 2px solid var(--charcoal);
  font-family: var(--bodyFont);
  font-size: .5em;
}
.pbrButton:hover {
  background-color: var(--ltChartreuse);
  color: var(--charcoal);
  border: 2px solid var(--charcoal);
}
.pbrButton:active {
  background-color: var(--charcoal) !important;
  color: var(--chartreuse) !important;
  border: 2px solid var(--chartreuse) !important;
}

.pbrLabel {
  margin-top: 0.5rem;
  font-family: var(--bodyFont);
}

.pbrSlider {
  max-width: 95%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: var(--thumbSize);
  margin: 0;
  padding: 0;
}

.pbrSlider:focus {
  outline: none;
}

/* Thumb */
.pbrSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumbSize);
  height: var(--thumbSize);
  background-color: var(--chartreuse);
  border-radius: calc(var(--thumbSize) / 2);
  border: none;
  box-shadow: 0 0 6px var(--charcoal);
  margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
  cursor: pointer;
}
.pbrSlider::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: var(--thumbSize);
  height: var(--thumbSize);
  background-color: var(--chartreuse);
  border-radius: calc(var(--thumbSize) / 2);
  border: none;
  box-shadow: 0 0 6px var(--charcoal);
  margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
  cursor: pointer;
}
.pbrSlider::-ms-thumb {
  -ms-appearance: none;
  appearance: none;
  width: var(--thumbSize);
  height: var(--thumbSize);
  background-color: var(--chartreuse);
  border-radius: calc(var(--thumbSize) / 2);
  border: none;
  box-shadow: 0 0 6px var(--charcoal);
  margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
  cursor: pointer;
}

/* Active thumb */
.pbrSlider:active::-webkit-slider-thumb {
  background-color: var(--charcoal);
  box-shadow: 0 0 10px var(--ltChartreuse);
}
.pbrSlider:active::-moz-range-thumb {
  background-color: var(--charcoal);
  box-shadow: 0 0 10px var(--ltChartreuse);
}
.pbrSlider:active::-ms-thumb {
  background-color: var(--charcoal);
  box-shadow: 0 0 10px var(--ltChartreuse);
}

/* Focused thumb */
.pbrSlider:focus::-webkit-slider-thumb {
  background-color: var(--charcoal);
  box-shadow: 0 0 10px var(--ltChartreuse);
}
.pbrSlider:focus::-moz-range-thumb {
  background-color: var(--charcoal);
  box-shadow: 0 0 10px var(--ltChartreuse);
}
.pbrSlider:focus::-ms-thumb {
  background-color: var(--charcoal);
  box-shadow: 0 0 10px var(--ltChartreuse);
}

/* Track */
.pbrSlider::-webkit-slider-runnable-track {
  height: var(--trackSize);
  background-color: var(--trackGray);
  border-radius: calc(var(--trackSize) / 2);
}
.pbrSlider::-moz-range-track {
  height: var(--trackSize);
  background-color: var(--trackGray);
  border-radius: calc(var(--trackSize) / 2);
}
.pbrSlider::-ms-track {
  height: var(--trackSize);
  background-color: var(--trackGray);
  border-radius: calc(var(--trackSize) / 2);
}
