:root {
  --charcoal: #1b1b1b;
  --ivory: #fff8ea;
}

body {
  background-color: var(--charcoal);
  color: var(--ivory);
  min-height: 100vh;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}